* {
    margin: 0;
    padding: 0;
}

.cor_site:checked+.tudo {
    background-color: yellow;
}

.red_cor:checked+.tudo {
    background-color: red;
}



#cabecalho {
    display: flex;
    justify-content: space-between;

}

header {
    text-align: center;
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
}

.primeiro_block {
    text-align: center;
    margin-bottom: 15%;
}

.topo {
    padding-bottom: 10px;

}

div.menu {

    display: flex;
    justify-content: space-between;
    border: solid 4px black;
    padding-left: 20%;
    padding-right: 20%;

}



.guia {
    opacity: 0;
    background-color: blue;
}

.guia:hover {
    background-color: rgba(9, 26, 126, 0.288);
    opacity: 1;
    transition: 2s;
    display: block;

}

.guia:hover p {
    color: red;
    background-color: blue;
}

[meu_atributo] {
    color: rgb(255, 255, 255);
}

.over {
    overflow-y: scroll;
    height: 100px;
}