*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(13, 126, 116);
}
.timer{
    background-color: white;
    width: 45em;
    height: 15em;
    margin: 2% auto;
    padding: 1%;

}
div{
    display: block;
    margin: 3%;
}
.relogio{
    font-size: xx-large;
}